backcall~=0.2
certifi~=2020.12
chardet~=4.0
colorama~=0.4
decorator~=5.0
idna~=2.10
jedi~=0.18
parso~=0.8
pickleshare~=0.7
prompt-toolkit~=3.0
Pygments~=2.8
requests~=2.25
traitlets~=5.0
urllib3~=1.26
wcwidth~=0.2
